{% extends 'base.html.twig' %}

{% block title %}Nouveaux rendez-vous
{% endblock %}

{% block body %}
	<h1>Créer de nouveaux rendez-vous</h1>

	{{ include('appointments/_form.html.twig') }}

	<a href="{{ path('appointments_index') }}">Retour à la liste</a>
{% endblock %}
